<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/Data_Structure_Data_Type%5BTuple%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Structure Data Type [Tuple]

In [5]:
#Tuple
var_tuple = ('apple','banana','cherries','dates')
print(var_tuple)
print(type(var_tuple))

var_tuple = (1,2,3,4,5,6)
print(var_tuple)
print(type(var_tuple))

var_tuple = ('a','b','c',4,5,6,7)
print(var_tuple)
print(type(var_tuple))

('apple', 'banana', 'cherries', 'dates')
<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
('a', 'b', 'c', 4, 5, 6, 7)
<class 'tuple'>

#Indexing And Slicing
+ve Indexing +ve Slicing
-ve Indexing -ve Slicing
+ve Indexing -ve Slicing
-ve Indexing +ve Slicing

In [20]:
#+ve indexing +ve slicing
var_tuple= ('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig','mango')
print(var_tuple) 

print(var_tuple[0::1])
print(var_tuple[0:len(var_tuple):1])
print(var_tuple[0:2:1])
print(var_tuple[2:5:])
print(var_tuple[0:3:1])
print(var_tuple[6:7:1])
print(var_tuple[5:6:1])
print(var_tuple[5])

('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana')
('charries', 'dates', 'eggfruits')
('apple', 'banana', 'charries')
('mango',)
('fig',)
fig

In [23]:
#-ve indexing -ve slicing
var_tuple= ('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig','mango')
print(var_tuple)
print(var_tuple[::-1])
print(var_tuple[-1:-7:-1])
print(var_tuple[-1::-1])
print(var_tuple[-3:-6:-1])
print(var_tuple[-6:-7:-1])
print(var_tuple[-6::-1])
print(var_tuple[-2:-7:-1])
print(var_tuple[-4:-5:-1])
print(var_tuple[-4])

('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana', 'apple')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana', 'apple')
('eggfruits', 'dates', 'charries')
('banana',)
('banana', 'apple')
('fig', 'eggfruits', 'dates', 'charries', 'banana')
('dates',)
dates

In [25]:
#+ve indexing -ve slicing
var_tuple= ('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig','mango')
print(var_tuple)
print(var_tuple[7::-1])
print(var_tuple[7:0:-1])#
print(var_tuple[::-1])
print(var_tuple[1:0:-1])
print(var_tuple[2:1:-1])
print(var_tuple[5:0:-1])
print(var_tuple[0::-1])#
print(var_tuple[0])

('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana', 'apple')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana')
('mango', 'fig', 'eggfruits', 'dates', 'charries', 'banana', 'apple')
('banana',)
('charries',)
('fig', 'eggfruits', 'dates', 'charries', 'banana')
('apple',)
apple

In [27]:
#-ve indexing +ve slicing
var_tuple= ('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig','mango')
print(var_tuple)
print(var_tuple[-7::1])
print(var_tuple[-7::])
print(var_tuple[:-3:1])
print(var_tuple[-7:-5:1])
print(var_tuple[-6:-1:1])
print(var_tuple[-5:-4:1])
print(var_tuple[-5])

('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
('apple', 'banana', 'charries', 'dates')
('apple', 'banana')
('banana', 'charries', 'dates', 'eggfruits', 'fig')
('charries',)
charries