<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/List_Inbuilt_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#List Inbuilt Function
#1. append
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)
var_lst.append('honey')
print(var_lst)

var_lst.append('mango')
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'honey']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'honey', 'mango']

In [34]:
#2. clear
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.clear()
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
[]

In [35]:
#3. copy
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst_cp= var_lst.copy()
print(var_lst_cp)

var_lst1= ['apple', 'banana', 'charries', 'dates', 'fig']
var_lst_cp= var_lst1.copy()
print(var_lst_cp)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'dates', 'fig']

In [36]:
#4. count
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'banana']
print(var_lst)

print(var_lst.count('banana'))
print(var_lst.count('egg'))
print(var_lst.count('apple'))

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'banana']
2
0
1

In [37]:
#5. extend
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.extend(['mango','orange'])
print(var_lst)

var_lst.extend('graps')
print(var_lst)

var_lst.extend(['graps'])
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango', 'orange']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango', 'orange', 'g', 'r', 'a', 'p', 's']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango', 'orange', 'g', 'r', 'a', 'p', 's', 'graps']

In [38]:
#6 index
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

print(var_lst.index('banana'))
print(var_lst.index('apple'))
print(var_lst.index('dates'))

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
1
0
3

In [40]:
#7. insert
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.insert(2,'mango')
print(var_lst)

var_lst.insert(5,'21')
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'mango', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'mango', 'charries', 'dates', '21', 'eggfruits', 'fig']

In [44]:
#8. pop
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.pop(3)
print(var_lst)

print(var_lst.pop(2))#it shows that Index no.
print(var_lst)# it removes that index no.

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'eggfruits', 'fig']
charries
['apple', 'banana', 'eggfruits', 'fig']

In [51]:
#9. reverse
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.reverse()
print(var_lst)

var_lst.reverse()
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['fig', 'eggfruits', 'dates', 'charries', 'banana', 'apple']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']

In [54]:
#10. remove
var_lst= ['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
print(var_lst)

var_lst.remove('dates')
print(var_lst)

var_lst.remove('fig')
print(var_lst)

['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'eggfruits', 'fig']
['apple', 'banana', 'charries', 'eggfruits']

In [66]:
#11. sort
var_lst= ['apple', 'fig', 'banana', 'charries', 'dates', 'eggfruits']
print(var_lst)

var_lst.sort()
print(var_lst)

var_lst=[10, 14, 9, 11, 2, 7]
var_lst.sort()
print(var_lst)

var_lst=[0.23, 2.10, 0.778, 4.01, 0.006]
var_lst.sort()
print(var_lst)

['apple', 'fig', 'banana', 'charries', 'dates', 'eggfruits']
['apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig']
[2, 7, 9, 10, 11, 14]
[0.006, 0.23, 0.778, 2.1, 4.01]