<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/Python_Basic_Mathematical_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Basic Mathematical Operator
# Arthimatic Operator

1. Addition
2. Substraction
3. Multiplication
4. Division
5. Modulus
6. Floor division
7. Exponential

In [3]:
a = 56
b = 5

print("Addition: ", a+b)
print("Substraction: ", a-b)
print("Division: ", a/b)
print("Multiplication: ", a*b)
print("Modulus: ", a%b)
print("Floor Division: ", a//b)
print("Exponential: ", a**b)

a=2
b=10
print("Exponential: ", a**b)

#or
a=10
b=2
print("Exponential: ", a**b)

Addition:  61
Substraction:  51
Division:  11.2
Multiplication:  280
Modulus:  1
Floor Division:  11
Exponential:  550731776
Exponential:  1024
Exponential:  100

# Comparision Operator

1. a = a+b => a += b
2. a = a-b => a -= b
3. a = a*b => a *= b
4. a = a/b => a /= b
5. a = a%b => a %= b
6. a = a//b => a//=b
7. a = a**b => a**=b

In [8]:
a = 15
b = 25

a += b
print("addition ", a)

a-=b
print("sub ", a)#here value of a is update from a=15 to a=40(ans of addition) value of b remains same
c=15
d=25
c-=d
print("sub ", c)#now ans for same value but different var. is different

a *=b
print("Multi ", a)#it shows the ans of a & b in which value of a updated to a=15 (ans of a-b)
e=15
d=25
e*=d
print("Multi ", e)

a /=b
print("Div ", a)
f=15
d=25
e/=d
print("Div ", f)

a = 123
b = 4
a %=b
print("modulus ", a)

a = 123
b = 4
a //=b
print("floorDivi ", a)

a = 10
b = 3
a **= b
print("Expo ", a)

addition  40
sub  15
sub  -10
Multi  375
Multi  375
Div  15.0
Div  15
modulus  3
floorDivi  30
Expo  1000

# Comparision Operator

**a = 15**
**b = 25**

1. a == b # False
2. a > b # False
3. a < b # True
4. a >= b # False
5. a <= b # True
6. a != b # True  =>!= means not equals to

In [9]:
#numbers
a = 15
b = 25

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  False
a < b:  True
a >= b:  False
a <= b:  True
a != b:  True

In [10]:
#booleans
a = True
b = False

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True

In [13]:
#strings
a = 'Python'
b = 'Programming'

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)
#in strings, the value is greater or smaller is depends on the alphabetical assending order eg. if 'r' comes first then 'y' comes it means 'y' is greater than 'r'

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True

In [16]:
a = 'PYTHON'
b = 'python'

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)
#small letters(lowercase) is greater than capilat letters(uppercase)

a == b:  False
a > b:  False
a < b:  True
a >= b:  False
a <= b:  True
a != b:  True

In [18]:
a = 'pYTHON' #here we use 'p' as small and remaining in capital letters &
b = 'Python' #here we use 'p' as capital and remaining in small letters
# therefor a is greater than b here

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True