<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/Set_Inbuilt_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Set Inbuilt Functions
#1. add
var_set = {'apple','banana','dates'}
print(var_set)
var_set.add('mango')
print(var_set)

print(var_set.add('grapes'))
var_set.add('grapes')
print(var_set)

{'dates', 'apple', 'banana'}
{'mango', 'dates', 'apple', 'banana'}
None
{'mango', 'dates', 'banana', 'apple', 'grapes'}

In [7]:
#2. clear
var_set = {'apple','banana','dates'}
print(var_set)

var_set.clear()
print(var_set)

{'dates', 'apple', 'banana'}
set()

In [10]:
#3. copy
var_set_2 = {'apple','banana','dates'}
print(var_set)

var_set_cp = var_set_2.copy()
print(var_set_cp)

var_set = {'apple','banana','dates','mango'}
var_set_1 = var_set.copy()
print(var_set_1)
var_set_1 = var_set_2.copy()
print(var_set_1)

{'mango', 'dates', 'apple', 'banana'}
{'dates', 'apple', 'banana'}
{'mango', 'dates', 'apple', 'banana'}
{'dates', 'apple', 'banana'}

In [11]:
#4. difference
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_a.difference(var_b))# it removes repeated value
print(var_b.difference(var_a))

{1, 2, 3, 4}
{10, 11, 12, 13, 14}

In [21]:
#5. difference_update
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_a.difference_update(var_b)#it remove repeated value from var_a and update it to var_b
print(var_a)#
print(var_b)

#also
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_b.difference_update(var_a)
print(var_a)
print(var_b)#it remove repeated value from var_b and update it to var_a

var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_a.difference_update(var_a)
print(var_a)

var_a = {1,2,3,4,5}
var_b = {9,10,11,12,13,14}
var_a.difference_update(var_b)
print(var_a)
print(var_b)

{1, 2, 3, 4}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{10, 11, 12, 13, 14}
set()
{1, 2, 3, 4, 5}
{9, 10, 11, 12, 13, 14}

In [23]:
#6. discard
var_a = {1,2,3,4,5,6,7,8,9}
var_a.discard(2)
print(var_a)

var_b = {'apple','banana','mango','grapes'}
var_b.discard('banana')
print(var_b)

{1, 3, 4, 5, 6, 7, 8, 9}
{'mango', 'apple', 'grapes'}

In [24]:
#7. intersection
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
c= var_a.intersection(var_b)#it shows the same value 
print(c)

{5, 6, 7, 8, 9}

In [25]:
#8. intersection update
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_a.intersection_update(var_b) # it shows same value in var_a and also updates this value in var_b
print(var_a)
print(var_b)
print(var_a,var_b)

{5, 6, 7, 8, 9}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{5, 6, 7, 8, 9} {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [28]:
#9. isdisjoint
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_a.isdisjoint(var_b))# it shows false when values are repeated 
print(var_b.isdisjoint(var_a))

var_a = {1,2,3,4,5,6,7,8,9}
var_b = {10,11,12,13,14}
print(var_a.isdisjoint(var_b))# it shows true when values are not repeated 
print(var_b.isdisjoint(var_a))

False
False
True
True

In [36]:
#10. issubset
var_a = {5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_a.issubset(var_b)) #it will shows true when whole value of var_a is repeated in Var_b
print(var_b.issubset(var_a)) #it will shows false, whole value of var_b is not repeated in var_a

var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_b.issubset(var_a))#it will shows false, whole value of var_b is not repeated in var_a, only few value repeated
print(var_a.issubset(var_b))#it will shows false, whole value of var_a is not repeated in var_b, only few value repeated

var_a = {1,2,3,4,5,6,7,8,9}
var_b = {10,11,12,13,14}
print(var_a.issubset(var_b))#it will shows false, no value repeated

True
False
False
False
False

In [40]:
#11. issuperset
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {1,2,3,4}
print(var_a.issuperset(var_b))# it will shows true, whole value of var_b repeated in var_a

var_a = {1,2,3,4,5,6,7,8,9}
var_b = {10,11,12,13,14}
print(var_a.issuperset(var_b))

True
False

In [49]:
#12. pop
var_a = {'apple','banana','grapes','mango'}
var_a.pop()
print(var_a)

var_b = {1,2,3,4,5,6}
var_b.pop()
print(var_b)#it remove any of value from set

{'apple', 'banana', 'grapes'}
{2, 3, 4, 5, 6}

In [61]:
#13. remove
var_a = {'apple','banana','grapes','mango'}

var_a.remove('banana')
print(var_a)

{'mango', 'apple', 'grapes'}

In [62]:
#14. symmetric difference
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_a.symmetric_difference(var_b))#it removes the repeated value

{1, 2, 3, 4, 10, 11, 12, 13, 14}

In [69]:
#15. symmetric difference update
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_a.symmetric_difference_update(var_b)# it removes the repeated value from var_a and put the non repeated value from var_b to var_a
print(var_a)
print(var_b)

{1, 2, 3, 4, 10, 11, 12, 13, 14}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [70]:
#16. union
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
print(var_a.union(var_b))# it will shows the all value from var_a and var_b without repeating

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [73]:
#17. update
var_a = {1,2,3,4,5,6,7,8,9}
var_b = {5,6,7,8,9,10,11,12,13,14}
var_a.update(var_b)
print(var_a)# it gives the all the values from var_a and var_b without repeating in var_a
print(var_b)# it print var_b as it is as a update

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}