<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/Tuple_Inbuilt_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Tuple Inbuilt Function
#1. count
var_tuple= ('apple', 'banana','dates', 'charries', 'dates', 'eggfruits', 'fig','mango','dates','fig')
print(var_tuple)

print(var_tuple.count('apple'))
print(var_tuple.count('dates'))
print(var_tuple.count('fig'))

('apple', 'banana', 'dates', 'charries', 'dates', 'eggfruits', 'fig', 'mango', 'dates', 'fig')
1
3
2

In [7]:
#2. index
var_tuple= ('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig','mango')
print(var_tuple)

print(var_tuple.index('apple'))
print(var_tuple.index('mango'))
print(var_tuple.index('dates'))

('apple', 'banana', 'charries', 'dates', 'eggfruits', 'fig', 'mango')
0
6
3