<a href="https://colab.research.google.com/github/maheshsb1/Python/blob/Basics/Type_of_Operators_%5BPython%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Basic Mathematical Operator
# 1.Arthimatic Operator

I. Addition
II. Substraction
III. Multiplication
IV. Division
V. Modulus
VI. Floor division
VII. Exponential

In [ ]:
a = 56
b = 5

print("Addition: ", a+b)
print("Substraction: ", a-b)
print("Division: ", a/b)
print("Multiplication: ", a*b)
print("Modulus: ", a%b)
print("Floor Division: ", a//b)
print("Exponential: ", a**b)

a=2
b=10
print("Exponential: ", a**b)

#or
a=10
b=2
print("Exponential: ", a**b)

Addition:  61
Substraction:  51
Division:  11.2
Multiplication:  280
Modulus:  1
Floor Division:  11
Exponential:  550731776
Exponential:  1024
Exponential:  100

# 2.Assignment Operator

1. a = a+b => a += b
2. a = a-b => a -= b
3. a = a*b => a *= b
4. a = a/b => a /= b
5. a = a%b => a %= b
6. a = a//b => a//=b
7. a = a**b => a**=b

In [ ]:
a = 15
b = 25

a += b
print("addition ", a)

a-=b
print("sub ", a)#here value of a is update from a=15 to a=40(ans of addition) value of b remains same
c=15
d=25
c-=d
print("sub ", c)#now ans for same value but different var. is different

a *=b
print("Multi ", a)#it shows the ans of a & b in which value of a updated to a=15 (ans of a-b)
e=15
d=25
e*=d
print("Multi ", e)

a /=b
print("Div ", a)
f=15
d=25
e/=d
print("Div ", f)

a = 123
b = 4
a %=b
print("modulus ", a)

a = 123
b = 4
a //=b
print("floorDivi ", a)

a = 10
b = 3
a **= b
print("Expo ", a)

addition  40
sub  15
sub  -10
Multi  375
Multi  375
Div  15.0
Div  15
modulus  3
floorDivi  30
Expo  1000

# 3.Comparision Operator

**a = 15**
**b = 25**

1. a == b # False
2. a > b # False
3. a < b # True
4. a >= b # False
5. a <= b # True
6. a != b # True  =>!= means not equals to

In [ ]:
#Comparision Operator
#Integers
a = 15
b = 25

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  False
a < b:  True
a >= b:  False
a <= b:  True
a != b:  True

In [ ]:
#Comparision Operator
#booleans
a = True
b = False

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True

In [ ]:
#Comparision Operator
#strings
a = 'Python'
b = 'Programming'

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)
#in strings, the value is greater or smaller is depends on the alphabetical assending order eg. if 'r' comes first then 'y' comes it means 'y' is greater than 'r'

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True

In [ ]:
a = 'PYTHON'
b = 'python'

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)
#small letters(lowercase) is greater than capilat letters(uppercase)

a == b:  False
a > b:  False
a < b:  True
a >= b:  False
a <= b:  True
a != b:  True

In [ ]:
a = 'pYTHON' #here we use 'p' as small and remaining in capital letters &
b = 'Python' #here we use 'p' as capital and remaining in small letters
# therefor a is greater than b here

print("a == b: ", a==b)
print("a > b: ", a>b)
print("a < b: ", a<b)
print("a >= b: ", a>=b)
print("a <= b: ", a<=b)
print("a != b: ", a != b)

a == b:  False
a > b:  True
a < b:  False
a >= b:  True
a <= b:  False
a != b:  True

#4. Logical Operator

In [1]:
# Logical Operators
# (integers)
#(and)(&)
a = 44
b = 33

print("Logical Operation ", ((a == b) & (a < b)))
print("Logical Operation ", ((a != b) & (a < b)))
print("Logical Operation ", ((a != b) & (a > b)))
print("Logical Operation ", ((a != b) & (a > b)))

Logical Operation  False
Logical Operation  False
Logical Operation  True
Logical Operation  True

In [3]:
# Logical Operators
#(boolean)
#(and)(&)
a = False
b = True

print("Logical Operation ", ((a == b) & (a < b)))
print("Logical Operation ", ((a != b) & (a < b)))
print("Logical Operation ", ((a != b) & (a > b)))
print("Logical Operation ", ((a == b) & (a > b)))

a = True
b = True

print((a == b) & (a < b))
print((a != b) & (a < b))
print((a != b) & (a > b))
print((a == b) & (a > b))

a = False
b = False

print((a == b) & (a < b))
print((a != b) & (a < b))
print((a != b) & (a > b))
print((a == b) & (a > b))

Logical Operation  False
Logical Operation  True
Logical Operation  False
Logical Operation  False
False
False
False
False
False
False
False
False

In [4]:
# Logical Operators
#(string)
#(and)(&)
a = 'Python'
b = 'Programming'

print("Logical Operation ", ((a == b) & (a < b)))
print("Logical Operation ", ((a != b) & (a < b)))
print("Logical Operation ", ((a != b) & (a > b)))
print("Logical Operation ", ((a == b) & (a > b)))

Logical Operation  False
Logical Operation  False
Logical Operation  True
Logical Operation  False

In [5]:
# Logical Operators
#(Integers)
#(or)(|)
a = 246
b = 369

print("Logical Operation ", ((a == b) | (a < b)))
print("Logical Operation ", ((a != b) | (a < b)))
print("Logical Operation ", ((a != b) | (a > b)))
print("Logical Operation ", ((a == b) | (a > b)))

Logical Operation  True
Logical Operation  True
Logical Operation  True
Logical Operation  False

In [6]:
# Logical Operators
#(Booleans)
#(or)(|)
a = False
b = True

print("Logical Operation ", ((a == b) | (a < b)))
print("Logical Operation ", ((a != b) | (a < b)))
print("Logical Operation ", ((a != b) | (a > b)))
print("Logical Operation ", ((a == b) | (a > b)))

a = True
b = True

print((a == b) | (a < b))
print((a != b) | (a < b))
print((a != b) | (a > b))
print((a == b) | (a > b))

a = False
b = False

print((a == b) | (a < b))
print((a != b) | (a < b))
print((a != b) | (a > b))
print((a == b) | (a > b))

Logical Operation  True
Logical Operation  True
Logical Operation  True
Logical Operation  False
True
False
False
True
True
False
False
True

In [7]:
# Logical Operators
#(Strings)
#(or)(|)

a = 'Python'
b = 'PYTHON'

print("Logical Operation ", ((a == b) | (a < b)))
print("Logical Operation ", ((a != b) | (a < b)))
print("Logical Operation ", ((a != b) | (a > b)))
print("Logical Operation ", ((a == b) | (a > b)))

Logical Operation  False
Logical Operation  True
Logical Operation  True
Logical Operation  True

In [8]:
# Logical Operators
#(Integers)
#(nor)(^)
a = 548
b = 125

print("Logical Operation ", ((a == b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a > b)))
print("Logical Operation ", ((a == b) ^ (a > b)))

Logical Operation  False
Logical Operation  True
Logical Operation  False
Logical Operation  True

In [9]:
# Logical Operators
#(Booleans)
#(nor)(^)
a = False
b = True

print("Logical Operation ", ((a == b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a > b)))
print("Logical Operation ", ((a == b) ^ (a > b)))

a = True
b = True

print((a == b) ^ (a < b))
print((a != b) ^ (a < b))
print((a != b) ^ (a > b))
print((a == b) ^ (a > b))

a = False
b = False

print((a == b) ^ (a < b))
print((a != b) ^ (a < b))
print((a != b) ^ (a > b))
print((a == b) ^ (a > b))

Logical Operation  True
Logical Operation  False
Logical Operation  True
Logical Operation  False
True
False
False
True
True
False
False
True

In [10]:
# Logical Operators
#(Strings)
#(nor)(^)

a = 'python'
b = 'pyThon'

print("Logical Operation ", ((a == b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a < b)))
print("Logical Operation ", ((a != b) ^ (a > b)))
print("Logical Operation ", ((a == b) ^ (a > b)))

Logical Operation  False
Logical Operation  True
Logical Operation  False
Logical Operation  True

In [13]:
a = 'PYTHON'
b = 'pyThon'

print((a == b) ^ (a < b))
print((a != b) ^ (a < b))
print((a != b) ^ (a > b))
print((a == b) ^ (a > b))

a = 'p'
b = 'PYTHON'

print((a == b) ^ (a < b))
print((a != b) ^ (a < b))
print((a != b) ^ (a > b))
print((a == b) ^ (a > b))

True
False
True
False
False
True
False
True

#5. Membership Operator
(in, not in)

In [20]:
# Membership Operator
# (Integers)
a = [1,2,3,4,5,6,7,8,9,0]
b = 8

#print("Membership Operator ", a in b)#It shows Iterable error
#print("Membership Operator ", a not in b)#It shows Iterable error
print("Membership Operator ", b in a)
print("Membership Operator ", b not in a)

a = [10]
b = [10]

print(a in b)
print(a not in b)
print(b in a)
print(b not in a)

Membership Operator  True
Membership Operator  False
False
True
False
True

In [17]:
# Membership Operator
# (Booleans)
a = True
b = [True, False, False, True, True]

print("Membership Operator ", a in b)
print("Membership Operator ", a not in b)
#print("Membership Operator ", b in a)#It shows Iterable error
#print("Membership Operator ", b not in a)#It shows Iterable error

Membership Operator  True
Membership Operator  False

In [19]:
# Membership Operator
#(Strings)
a = 'python'
b = ['Python','PYTHON','pythön', 'Pythön']

print("Membership Operator ", a in b)
print("Membership Operator ", a not in b)
#print("Membership Operator ", b in a)#It shows Iterable error
#print("Membership Operator ", b not in a)#It shows Iterable error

Membership Operator  False
Membership Operator  True

#6. Identity Operator
(is, is not)

In [23]:
# Identity Operator
# (Integers)
a = 30
b = 45

print("Identity Operator ", a is b)
print("Identity Operator ", a is not b)
print("Identity Operator ", b is a)
print("Identity Operator ", b is not a)

a=25
b=25
print(a is b)
print(a is not b)
print(b is a)
print(b is not a)


print(a is a)
print(a is not a)
print(b is b)
print(b is not b)

Identity Operator  False
Identity Operator  True
Identity Operator  False
Identity Operator  True
True
False
True
False
True
False
True
False

In [24]:
# Identity Operator
#(booleans)
a = True
b = False

print("Identity Operator ", a is b)
print("Identity Operator ", a is not b)
print("Identity Operator ", b is a)
print("Identity Operator ", b is not a)

Identity Operator  False
Identity Operator  True
Identity Operator  False
Identity Operator  True

In [25]:
# Identity Operator
#(Strings)
a = 'python'
b = 'Python'

print("Identity Operator ", a is b)
print("Identity Operator ", a is not b)
print("Identity Operator ", b is a)
print("Identity Operator ", b is not a)

Identity Operator  False
Identity Operator  True
Identity Operator  False
Identity Operator  True